<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

    </head>
    <body>
        <div class='container' >
            <div class="card">
                <div class="card-body">
                    <h1>Upload File Here:</h1>
                    <form action="{% url 'uploadfile' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="id_file_path" class="form-label">Please only CSV and XLSX</label>
                            <input class="form-control" type="file" name= "file_path" id="id_file_path" required="">
                        </div>
                        <input type="submit" class="btn btn-success" role="button" value="Save" name="_save"></input>
                    </form>
                </div>
            </div>

            <div class="container mt-5">
                <table class="table">
                <thead>
                    <tr>
                        <th>Region</th>
                        <th>Order Date</th>
                        <th>Order Id</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for element in readDataFile %}
                        <tr>
                            <td scope="row">{{element.region}}</td>
                            <td>{{element.order_date}}</td>
                            <td>{{element.order_id}}</td>
                            <td>{{element.total}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>


        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

        <script>$(document).ready(function () {
            $('.table').DataTable();
            });</script>

        <script src = "https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" ></script>
        <script src = "https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js" ></script>


    </body>
</html>
